<mat-sidenav-container class="sidenav-container" (backdropClick)="closeSideNav()">
  <mat-sidenav #sidenav class="sidenav" fixedInViewport="true" >

    <mat-toolbar color="rgba(0,0,0.85)">Menu</mat-toolbar>
    
 
    <mat-tab-group mat-align-tabs="start" type MatTabBodyOriginState = 'left'>
      <!-- #enddocregion align-start -->
        <mat-tab label="First">Content 1</mat-tab>
        <mat-tab label="Second">Content 2</mat-tab>
        <mat-tab label="Third">Content 3</mat-tab>
      </mat-tab-group>
      


    

    <mat-selection-list (click)="closeSideNav()">
      <a mat-list-item [routerLink]="['/filmes/listagem']">Inicial</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/filmes/cadastro']">Cadastrar novo Filme</a>
      <mat-divider></mat-divider>
    </mat-selection-list>



  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header-toolbar">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="openSideNav()">
        <mat-icon aria-label="Side nav toggle icon"> menu</mat-icon>
      </button>
      <span>Lista de Filmes</span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>

    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
    <dio-rodape></dio-rodape>

  </mat-sidenav-content>

</mat-sidenav-container>


<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>account_circle</mat-icon>
    <span>Conta</span>
  </button>
  <button mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>Configurações</span>
  </button>
</mat-menu>
