<mat-sidenav-container class="sidenav-container" (backdropClick)="closeSideNav()">
  <mat-sidenav #sidenav class="sidenav" fixedInViewport="true" >

    <mat-toolbar color="rgba(0,0,0.85)">Menu</mat-toolbar>

    <mat-selection-list (click)="closeSideNav()" [multiple]="false">
    <mat-list-option ngFor="let shoe of typesOfShoes shoe">
      <a mat-list-item [routerLink]="['/filmes']" >Inicial</a>
     </mat-list-option>
     <mat-divider></mat-divider>
     <mat-list-option ngFor="let shoe of typesOfShoes shoe">
      <a mat-list-item [routerLink]="['/filmes/cadastro']">Cadastrar   novo Filme</a>
     </mat-list-option>
     <mat-divider></mat-divider>
    </mat-selection-list>



  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header-toolbar">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="openSideNav()">
        <mat-icon aria-label="Side nav toggle icon"> menu</mat-icon>
      </button>
      <span>Lista de Filmes</span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>

    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
    <dio-rodape></dio-rodape>

  </mat-sidenav-content>

</mat-sidenav-container>


<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="closeSideNav()" class="nav-item nav-link" routerLink="/filmes/users" routerLinkActive="active">

    <mat-icon>account_circle</mat-icon>
    <span>Contas</span>

  </button>

  <button mat-menu-item (click)="logout()">
    <mat-icon>Exit_cicle</mat-icon>
    <span>Logout</span>
    
  </button>
</mat-menu>

