.sidenav-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  

}

.botaoiniciar{
 
  border: 0;
  background: var(--background-button);
 

  font-size: 1.5rem;

  
}


.sidenav {
  display: flex;
  flex-direction: column;

  align-items: center;

  max-width: 17rem;
  width: 11%;

  padding: 0rem;

  background: var(--background2);

 
}

.app-content {
  min-height: calc(100vh - 110px);
  
  background: var(--background2);
}

.app-title {
  text-transform: uppercase;
  padding-left: 26px;
  background: var(--background2);
}

.menu{
  background-color: black;
}

.header-toolbar {
  justify-content: space-between;
  background-color: black;
 
  
}


.button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 20rem;
  width: 100%;

  border: 0;
  background: var(--background-button);
  padding: 1.1875rem 2rem;


  font-size: 1.125rem;
  color: var(--white);

  &:hover {
    background: var(--background-button2);
  }

  transition: background 200ms;

  & + .button {
    margin-top: 1rem;
  }

  &:first-child {
    margin-top: 0;
  }



  

  &.selected {
    color:  var(--background-button2);
 
  }
}
